.skillBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 40px;
    color: black;
    height: 100vh;
}

.cardContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
  
.cardContainer h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        text-align: center;
        font-size: 24px;
    }
}

.skillCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.skillCards ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-wrap: wrap;
    height: 100%;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.skillCards ul li {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 200px;
    max-width: 250px;
    box-sizing: border-box;

    @media (min-width: 769px) {
        flex: 1 1 20%;
        max-width: 20%;
    }

    @media (max-width: 768px) {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}