.skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    color: black;
}

.cardContainer {
    width: 100%;
    max-width: 1200px;
    padding: 50px;
}
  
.cardContainer h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.skillCards {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}

.skillCards ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skillCards ul li {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}