.home-container {
    display: flex;
}

.content-container {
    margin-left: auto;
    width: calc(100% - 200px);
    background-color: rgb(198, 205, 210);
}

section {
    min-height: 100vh;
    margin: auto;
    border-bottom: 2px solid rgb(64,126,175);
}

section:last-child {
    margin-bottom: 0;
}